* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(252, 251, 250, 0.61);
}

section {
  scroll-margin-top: 74px;
}

.navbar {
  font-weight: bold;
  background-color: white;
}

nav {
  text-transform: uppercase;
  z-index: 1;
}
nav .nav-link {
  color: rgb(242, 134, 0);
}
nav .nav-link:hover,
nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link.active:hover {
  color: black;
  transition: 0.5s;
}
nav .navbar-nav .nav-link.active {
  color: rgb(242, 134, 0);
}
nav .navbar-brand {
  color: rgb(242, 134, 0);
}
nav .navbar-brand:hover {
  color: black;
  transition: 0.5s;
}
nav .navbar-toggler {
  color: rgb(242, 134, 0);
  padding: 10px 15px;
  z-index: 2;
}
nav .navbar-collapse {
  display: inline;
  background-color: white;
  border-radius: 2px;
  z-index: 0;
}

.fb-btn {
  margin-top: 3px;
  position: fixed;
  right: 0;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 250, 0.61);
}
.fb-btn i {
  color: rgb(242, 134, 0);
  font-size: 20px;
  transition: 0.5s;
}
.fb-btn i:hover {
  color: rgb(7, 7, 126);
  font-size: 30px;
}

.img-logo {
  width: 100px;
}

header .container {
  margin-top: 70px;
}

.underline {
  position: sticky top-0;
  margin: 0 auto;
  width: 50%;
  height: 4px;
  background-color: rgb(242, 134, 0);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(242, 134, 0);
  margin: auto;
}

.aboutus {
  background-color: rgba(252, 251, 250, 0.61);
  margin-top: 60px;
}
.aboutus p {
  font-size: 20px;
  margin: 20px;
}

.works {
  margin-top: 60px;
}
.works .first-work-title {
  margin-top: 20px;
}
.works h3 {
  margin-top: 40px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.works h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.works p {
  font-size: 12px;
}

.prices {
  margin-top: 60px;
}
.prices .first-price-title {
  margin-top: 20px;
}
.prices h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.prices h4 {
  margin-top: 20px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.prices p {
  font-size: 12px;
}

.contact {
  margin-top: 60px;
  margin-bottom: 20px;
}
.contact .contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.contact .contact-us h3 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
}
.contact .contact-us .contact-item {
  margin: 3px;
  font-size: 13px;
}
.contact .contact-us a {
  text-decoration: none;
  color: black;
  transition: font-weight 0.5s;
}
.contact .contact-us a:hover {
  font-weight: bold;
}

.pprv {
  margin: 20px;
  text-align: center;
  justify-content: center;
}
.pprv .prv-link {
  font-size: 15px;
  text-decoration: none;
  color: black;
  transition: font-weight, 0.5s;
}
.pprv .prv-link:hover {
  font-weight: bold;
}

footer {
  position: relative;
  display: flex;
  height: 65px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  background-color: rgb(242, 134, 0);
}

.cookies-box {
  display: none;
  position: fixed;
  bottom: 10px;
  width: 100%;
  background-color: rgb(242, 134, 0);
  justify-content: center;
  text-align: center;
}
.cookies-box .cookies-text {
  font-size: 12px;
  margin: 5px;
}
.cookies-box .cookies-text a {
  color: black;
}
.cookies-box button {
  background-color: rgba(128, 128, 128, 0.573);
  width: 150px;
  height: 28px;
  margin: 20px;
  margin-top: 10px;
  font-size: 13px;
}
.cookies-box .info-btn {
  transition: background-color, 0.5s;
}
.cookies-box .info-btn a {
  text-decoration: none;
  color: black;
}
.cookies-box .info-btn:hover {
  background-color: rgb(255, 98, 0);
}
.cookies-box .accept-btn {
  transition: background-color, 0.5s;
  height: 45px;
  font-weight: bold;
  font-size: 15px;
}
.cookies-box .accept-btn:hover {
  background-color: rgb(255, 98, 0);
}

.cookies-box.show {
  display: inline;
}

.title-privacy {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}
.title-privacy p {
  text-transform: uppercase;
  color: rgb(242, 134, 0);
  font-weight: bold;
}
.title-privacy a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(242, 134, 0);
}

.privacy {
  justify-content: center;
  text-align: center;
  font-size: 12px;
}
.privacy h2,
.privacy h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
}
.privacy h3 {
  font-size: 20px;
}
.privacy h4 {
  font-size: 18px;
}
.privacy h4 {
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.privacy table {
  font-size: 7px;
}
.privacy li {
  margin-top: 0;
}
.privacy .item-pv {
  margin-bottom: 0;
}
.privacy .laws li {
  justify-content: start;
  text-align: start;
}
.privacy .back-home {
  border-color: black;
  height: 40px;
  width: 180px;
  font-size: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: color, 0.5s;
  background-color: white;
}
.privacy .back-home a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.privacy .back-home:hover {
  background-color: rgba(239, 235, 235, 0.748);
}
.privacy .back-home:hover a {
  color: rgb(242, 134, 0);
}

@media (min-width: 576px) {
  .fb-btn {
    margin-top: 3px;
  }
  .fb-btn i {
    font-size: 40px;
    transition: 0.5s;
  }
  .fb-btn i:hover {
    font-size: 55px;
  }
  .contact {
    margin-top: 60px;
  }
  .contact .contact-us {
    margin-top: 20px;
    margin-top: 20px;
  }
  .contact .contact-us h3 {
    margin: 20px;
    margin-bottom: 0;
    font-size: 20px;
  }
  .contact .contact-us .contact-item {
    margin: 2px;
    font-size: 15px;
  }
  .contact .contact-us a {
    margin: 2px;
    text-decoration: none;
    color: black;
    transition: font-weight 0.5s;
  }
  .contact .contact-us a:hover {
    font-weight: bold;
  }
  footer {
    height: 40px;
    padding-top: 5px;
    font-size: 15px;
  }
  .privacy {
    font-size: 15px;
  }
  .privacy .table {
    font-size: 14px;
  }
  .privacy h3 {
    font-size: 22px;
  }
  .privacy h4 {
    font-size: 20px;
  }
  .privacy .back-home {
    font-size: 15px;
    height: 50px;
    width: 210px;
  }
}
@media (min-width: 768px) {
  section {
    scroll-margin-top: 72px;
  }
  .fb-btn {
    margin-top: 5px;
  }
  .fb-btn i {
    font-size: 40px;
    transition: 0.5s;
  }
  .fb-btn i:hover {
    font-size: 55px;
  }
  .aboutus {
    margin-top: 80px;
  }
  .aboutus p {
    font-size: 17px;
  }
  .contact {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .contact .contact-us h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  .contact .contact-us .contact-item {
    margin: 8px;
    font-size: 18px;
  }
  .works p {
    font-size: 13px;
  }
  .privacy {
    font-size: 16px;
  }
  .privacy .table {
    font-size: 15px;
  }
  .privacy h3 {
    font-size: 23px;
  }
  .privacy h4 {
    font-size: 11px;
  }
}/*# sourceMappingURL=main.css.map */