* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(252, 251, 250, 0.61);
}

.navbar {
  font-weight: bold;
  background-color: white;
}

nav {
  text-transform: uppercase;
  z-index: 1;
}
nav .nav-link {
  color: rgb(242, 134, 0);
}
nav .nav-link:hover,
nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link.active:hover {
  color: black;
  transition: 0.5s;
}
nav .navbar-nav .nav-link.active {
  color: rgb(242, 134, 0);
}
nav .navbar-brand {
  color: rgb(242, 134, 0);
}
nav .navbar-brand:hover {
  color: black;
  transition: 0.5s;
}
nav .navbar-toggler {
  color: rgb(242, 134, 0);
  padding: 10px 15px;
  z-index: 2;
}
nav .navbar-collapse {
  background-color: white;
  border-radius: 2px;
  z-index: 0;
}

.img-logo {
  width: 100px;
}

main {
  z-index: -6;
}

header.hero-img {
  top: 73px;
  margin: auto;
  height: 60vh;
  background-image: url(/img/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 0;
}
header.hero-img .hero-shadow {
  position: absolute;
  background-color: rgba(252, 251, 250, 0.61);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
header.hero-img .hero-text {
  position: relative;
  font-family: "Pacifico", cursive;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: rgb(242, 134, 0);
}
header.hero-img .hero-text button.abt-us {
  margin-top: 20px;
  font-size: 17px;
  padding: 10px;
  color: rgb(242, 134, 0);
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.6);
  transition: background-color, color, 0.6s;
}
header.hero-img .hero-text button.abt-us:hover {
  color: white;
  background-color: rgb(242, 134, 0);
}
header.hero-img .hero-text h1 {
  font-size: 23px;
}

.underline {
  position: sticky top-0;
  margin: 0 auto;
  width: 50%;
  height: 4px;
  background-color: rgb(242, 134, 0);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(242, 134, 0);
  margin: auto;
}

.aboutus {
  position: relative;
  height: 100vh;
  background-color: rgba(252, 251, 250, 0.61);
  margin-top: 100px;
}
.aboutus p {
  font-size: 20px;
  margin: 20px;
}

.team {
  margin-top: 50px;
  position: relative;
}
.team .card {
  margin: 20px;
  width: 90%;
  background-color: rgb(242, 134, 0);
  transition: scale 0.3s;
  color: white;
  font-style: italic;
  border-radius: 5px;
}
.team .card .card-img-top {
  height: 40vh;
}
.team .card .card-img-top .card-body {
  height: 20px;
}
.team .card .card:hover {
  scale: 0.96;
}
.team .card .card-title {
  text-align: center;
  font-weight: bold;
}
.team .card .card-text {
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  header.hero-img {
    height: 100vh;
    top: 20px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header.hero-img .hero-text h1 {
    font-size: 30px;
  }
  header.hero-img .hero-text button.abt-us {
    font-size: 20px;
  }
  .aboutus p {
    font-size: 17px;
    margin: 30px;
  }
  .team {
    height: 100vh;
    margin-top: 50px;
    position: relative;
  }
  .team .card {
    width: 60%;
    background-color: rgb(242, 134, 0);
    transition: scale 0.3s;
    color: white;
  }
  .team .card .card-img-top {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team .card .card-img-top .card-body {
    height: 120px;
  }
}
@media (min-width: 576px) {
  header.hero-img {
    top: 70px;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header.hero-img .hero-text h1 {
    font-size: 30px;
  }
  header.hero-img .hero-text button.abt-us {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */