@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;

	background-color: $bgc-color;
}

section {
	scroll-margin-top: 74px;
}

.navbar {
	font-weight: bold;
	background-color: $second-color;
}


nav {
	.nav-link {
		color: $first-color;
	}

	.nav-link:hover,
	.navbar-nav .nav-link:hover,
	.navbar-nav .nav-link.active:hover {
		color: black;
		transition: 0.5s;
	}

	.navbar-nav .nav-link.active {
		color: $first-color;
	}

	.navbar-brand {
		color: $first-color;
	}

	.navbar-brand:hover {
		color: black;
		transition: 0.5s;
	}

	.navbar-toggler {
		color: $first-color;
		padding: 10px 15px;
		z-index: 2;
	}

	.navbar-collapse {
		display: inline;
		background-color: white;
		border-radius: 2px;
		z-index: 0;
	}

	text-transform: uppercase;
	z-index: 1;
}

.fb-btn {
	margin-top: 3px;
	position: fixed;
	right: 0;
	border: none;
	justify-content: center;
	align-items: center;
	background-color: $bgc-color;
	

	i {
		color: $first-color;
		font-size: 20px;
		transition: .5s;
	}

	i:hover {
		color: rgb(7, 7, 126);
		font-size: 30px;
	}
	
}


.img-logo {
	width: 100px;
}

header {
	.container {
		margin-top: 70px;
	}
}

.underline {
	position: sticky top-0;
	margin: 0 auto;
	width: 50%;
	height: 4px;
	background-color: $first-color;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: $first-color;
	margin: auto;
}

.aboutus {
	// position: relative;
	background-color: $bgc-color;
	margin-top: 60px;

	p {
		font-size: 20px;
		margin: 20px;
	}
}


.works {
	margin-top: 60px;

	.first-work-title {
		margin-top: 20px;
	}

	h3 {
		margin-top: 40px;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	h4 {
		margin-bottom: 20px;
		text-transform: uppercase;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	p {
		font-size: 12px;
	}
}

.prices {
	margin-top: 60px;

	.first-price-title {
		margin-top: 20px;
	}

	h3 {
		margin-top: 40px;
		margin-bottom: 20px;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	h4 {
		margin-top: 20px;
		text-transform: uppercase;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	p {
		font-size: 12px;
	}
}

.contact {
	margin-top: 60px;
	margin-bottom: 20px;

	.contact-us {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 60px;

		h3 {
			margin-bottom: 0;
			font-size: 15px;
			font-weight: bold;
		}

		.contact-item {
			margin: 3px;
			font-size: 13px;
		}

		a {
			text-decoration: none;
			color: black;
			transition: font-weight 0.5s;
		}

		a:hover {
			font-weight: bold;
		}
	}
}

.pprv {
	margin: 20px;
	text-align: center;
	justify-content: center;
.prv-link {
	font-size: 15px;
	text-decoration: none;
	color: black;
	transition: font-weight, 0.5s;
}

.prv-link:hover {
	font-weight: bold;
}

}

footer {
	position: relative;
	display: flex;
	height: 65px;
	font-size: 12px;
	justify-content: center;
	text-align: center;
	background-color: $first-color;


}

.cookies-box {
	display: none;
	position: fixed;
	bottom: 10px;
	width: 100%;
	background-color: $first-color;
	justify-content: center;
	text-align: center;

	.cookies-text {
		font-size: 12px;
		margin: 5px;

		a {
			color: black;
		}
	}

	button {
		background-color: rgba(128, 128, 128, 0.573);
		width: 150px;
		height: 28px;
		margin: 20px;
		margin-top: 10px;
		font-size: 13px;
	}

	.info-btn {
		transition: background-color, 0.5s;
		a {
			text-decoration: none;
			color: black;
		}
	}

	.info-btn:hover {
		background-color: rgb(255, 98, 0);
	}

	.accept-btn {
		transition: background-color, 0.5s;
		height: 45px;
		font-weight: bold;
		font-size: 15px;
	}

	.accept-btn:hover {
		background-color: rgb(255, 98, 0);
	}
}

.cookies-box.show{
	display: inline;
}

//privacy//

.title-privacy {
	margin-top: 10px;
	justify-content: center;
	text-align: center;

	p {
		text-transform: uppercase;
		color: $first-color;
		font-weight: bold;
	}

	a {
		font-size: 20px;
		text-decoration: none;
		color: $first-color;
	}
}



.privacy {
	justify-content: center;
	text-align: center;
	font-size: 12px;

	h2,
	h3 {
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 40px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	h4 {
		margin-top: 30px;
		font-weight: bold;
		text-transform: uppercase;
	}
	table {
		font-size: 7px;
	}
	li {
		margin-top: 0;
	}

	.item-pv {
		margin-bottom: 0;
	}

	.laws {
		li {
			justify-content: start;
			text-align: start;
		}
	}

	.back-home {
		border-color: black;
		height: 40px;
		width: 180px;
        font-size: 12px;
		border-radius: 10px;
		margin-bottom: 10px;
		transition: color, 0.5s;
		background-color: white;

		a {
			text-decoration: none;
			color: black;
			font-weight: bold;
		}
	}

    .back-home:hover {
        background-color: rgba(239, 235, 235, 0.748);
    
        a {
            color: $first-color;
        }
    }
}


@media (min-width: 576px) {
	.fb-btn {
		margin-top: 3px;
	
		i {
			font-size: 40px;
			transition: .5s;
		}
	
		i:hover {
			font-size: 55px;
		}
		
	}

	.contact {
		margin-top: 60px;

		.contact-us {
			margin-top: 20px;
			margin-top: 20px;

			h3 {
				margin: 20px;
				margin-bottom: 0;
				font-size: 20px;
			}

			.contact-item {
				margin: 2px;
				font-size: 15px;
			}

			a {
				margin: 2px;
				text-decoration: none;
				color: black;
				transition: font-weight 0.5s;
			}

			a:hover {
				font-weight: bold;
			}
		}
	}

	footer {
		height: 40px;
		padding-top: 5px;
		font-size: 15px;
	}

	.privacy {
		font-size: 15px;

		.table {
			font-size: 14px;
		}

		h3 {
			font-size: 22px;
		}

		h4 {
			font-size: 20px;
		}

		.back-home {
            font-size: 15px;
			height: 50px;
			width: 210px;
		}
	}
}

@media (min-width: 768px) {
	section {
		scroll-margin-top: 72px;
	}

	.fb-btn {
		margin-top: 5px;
	
		i {
			font-size: 40px;
			transition: .5s;
		}
	
		i:hover {
			font-size: 55px;
		}
		
	}

	.aboutus {
		margin-top: 80px;

		p {
			font-size: 17px;
		}
	}

	.contact {
		margin-top: 80px;
		margin-bottom: 20px;

		.contact-us {
			h3 {
				margin: 0;
				margin-bottom: 8px;
				font-size: 20px;
				font-weight: bold;
			}

			.contact-item {
				margin: 8px;
				font-size: 18px;
			}
		}
	}

	.works {
		p {
			font-size: 13px;
		}
	}

	.privacy {
		font-size: 16px;

		.table {
			font-size: 15px;
		}

		h3 {
			font-size: 23px;
		}

		h4 {
			font-size: 11px;
		}
	}
}
