@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;

	background-color: $bgc-color;
}

.navbar {
	font-weight: bold;
	background-color: $second-color;
}

nav {
	.nav-link {
		color: $first-color;
	}

	.nav-link:hover,
	.navbar-nav .nav-link:hover,
	.navbar-nav .nav-link.active:hover {
		color: black;
		transition: 0.5s;
	}

	.navbar-nav .nav-link.active {
		color: $first-color;
	}
	
	.navbar-brand {
		color: $first-color;
	}

	.navbar-brand:hover {
		color: black;
		transition: 0.5s;
	}

	.navbar-toggler {
		color: $first-color;
		padding: 10px 15px;
		z-index: 2;
	}

	.navbar-collapse {
		background-color: white;
		border-radius: 2px;
		z-index: 0;
	}

	text-transform: uppercase;
	z-index: 1;
}

.img-logo {
	width: 100px;
}


main {
	z-index: -6;
}

header.hero-img {
	top: 73px;
	margin: auto;
	height: 60vh;
	background-image: url(/img/logo2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
	position: relative;
	z-index: 0;

.hero-shadow {
	position: absolute;
	background-color: rgba(252, 251, 250, 0.61);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -3;
}

.hero-text {
	position: relative;
	font-family: 'Pacifico', cursive;
	display: flex;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	color: $first-color;

	
	button.abt-us {
		margin-top: 20px;
		font-size: 15px;
		padding: 10px;
		color: $first-color;
		border-radius: 10px;
		border-color: rgba(255, 255, 255, 0.6);
		transition: background-color, color, 0.6s;
	}

	button.abt-us:hover {
		color: white;
		background-color: $first-color;
	}

	h1 {
		font-size: 20px;
	}

	
}
  
}

.underline {
	position: sticky top-0;
	margin: 0 auto;
	width: 50%;
	height: 4px;
	background-color: $first-color;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: $first-color;
	margin: auto;
}

.aboutus {
	position: relative;
	height: 100vh;
	background-color: $bgc-color;
	margin-top: 90px;

	p {
		position: relative;
		font-size: 15px;
		margin: 20px;
		justify-content: center;
		align-items: center;
	}
}





@media (min-width: 768px) {
	header.hero-img {
		height: 100vh;
		top: 20px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		.hero-text {

			h1{
				font-size: 30px;
			}
			

			button.abt-us {
				font-size: 20px;
			}
		}

		
	}
	

}

@media (min-width: 576px) {
	header.hero-img {
		top: 70px;
		height: 100vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		.hero-text {

			h1{
				font-size: 30px;
			}
			

			button.abt-us {
				font-size: 20px;
			}
		}

		
	}
	

}



